body {
  font-family: "Chakra Petch", sans-serif;
  font-family: "Quicksand", sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 25px auto;
  padding: 30px;
  border: 0.5px;
  border-style: solid;
  border-radius: 2.5%;
  border-color: lightskyblue;
  background: rgba(245, 251, 255, 0.965);
}

ul {
  padding: 0;
}
li {
  list-style: none;
  color: rgb(129, 126, 126);
  font-size: 16px;
}
.weather-temperature img {
  margin-right: 15px;
  height: 80px;
  width: 80px;
}

strong {
  font-size: 54px;
  line-height: 1.5;
}

.low {
  color: rgb(129, 126, 126);
}

.celsius {
  color: rgb(129, 126, 126);
}

.current-location {
  display: block;
  border-style: double;
  border-color: lightskyblue;
  background-color: rgba(153, 209, 245, 0.493);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(146, 146, 146, 0.1);
}

.search {
  border-style: double;
  border-color: lightsteelblue;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
}

.units {
  position: relative;
  font-size: 16px;
  top: -25px;
}
